//サイト全体のカラーコードの変数を指定する
$color-main:rgb(255, 220, 174);
$color-sub:rgb(255, 161, 38);
$font-error:red;
$font-white:white;
$font-name:rgb(0, 182, 45);

//折れ線の色を指定

$all:rgb(0, 0, 0);
$syokuhi:rgb(250, 107, 11);
$nitiyouhin:rgb(4, 136, 4);
$reja:rgb(255, 0, 0);
$kotu:rgb(5, 2, 197);
$kotei:rgb(223, 0, 204);
$other:rgb(109, 109, 109);