@charset "UTF-8";
/*
#mixins
サイト全体で使うmixinを指定
*/
/*
#icon
アイコン画像を円で表示
*/
/*!
 * ress.css â€¢ v2.0.4
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type="search"] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

svg:not([fill]) {
  fill: currentColor;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~="screen"] {
    display: inherit;
  }

  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}
/* Specify the progress cursor of updating elements */
[aria-busy="true"] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

body {
  font-size: 62.5%;
  font-family: "M PLUS Rounded 1c", Meiryo, sans-serif;
}

ul {
  list-style-type: none;
}

img {
  pointer-events: none;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.bg-index {
  background-image: url("../img/bg.png");
  background-repeat: repeat;
  background-attachment: fixed;
}

.bg-input {
  background-image: url("../img/waterfall-5310785_1920.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.bg-else {
  background-image: url("../img/white-flowers-5316486_1920.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.error {
  color: red;
  font-size: 0.8rem;
}

a {
  text-decoration: none;
}

.header {
  background-color: #ffdcae;
  padding: 30px 0px;
  margin-bottom: 50px;
  text-align: center;
  box-shadow: 5px 5px 10px;
}
.header .container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  position: relative;
  font-size: 2.0rem;
  font-family: "M PLUS Rounded 1c", Meiryo, sans-serif;
}
.header__right {
  display: flex;
}
.header__setlink {
  transition: 0.5s;
}
.header__setlink:hover {
  opacity: 0.5;
}
.header__set-icon {
  font-size: 1.8rem;
  color: #ffa126;
}
@media screen and (max-width: 767px) {
  .header__title {
    font-size: 1.4rem;
  }
}

.main-input {
  padding: 50px 50px;
  text-align: center;
  max-width: 500px;
  width: 100%;
  margin: 30px auto;
  box-shadow: 5px 5px 10px;
  border-radius: 30px;
  background-color: white;
  font-size: 1.1rem;
  position: relative;
}
.main-input__msg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 9999;
  padding: 20px;
  background-color: #ffa126;
  border-radius: 30px;
  color: #fff;
  font-size: 1.4rem;
}
.main-input__forms {
  margin-top: 50px;
}
.main-input__title {
  font-size: 1.6rem;
  margin-bottom: 20px;
}
.main-input__headline {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.main-input__form {
  border: solid 1px #ddd;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.1rem;
}
.main-input__tag-dd {
  margin-bottom: 10px;
}
.main-input__select {
  border: solid 1px #ddd;
  margin-right: 5px;
  padding: 10px;
}
.main-input__file {
  border: 1px solid #ddd;
  width: 80%;
}
.main-input__check-image {
  display: inline-block;
  background-color: #ccc;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 5px;
  width: 150px;
  height: 150px;
  border: 1px solid #ccc;
  background-size: cover;
  border-radius: 50%;
}
.main-input__icon-change {
  display: inline-block;
  background-color: #ccc;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 5px;
  width: 150px;
  height: 150px;
  border: 1px solid #ccc;
  background-size: cover;
  border-radius: 50%;
}
.main-input__line {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  background-color: #bbb;
  padding: 30px;
}
.main-input__right-dd {
  margin-left: 50px;
}
.main-input__headline--delete {
  font-size: 0.9rem;
  color: #d30000;
  margin-bottom: 10px;
}
.main-input__popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: .1s;
}
.main-input__popup.is-show {
  opacity: 1;
  visibility: visible;
}
.main-input__popup-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  padding: 50px;
  background-color: #fff;
  z-index: 2;
}
.main-input__popup-inner img {
  width: 100%;
}
.main-input__close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
.main-input__close-btn i {
  font-size: 20px;
  color: #333;
}
.main-input__black-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  cursor: pointer;
}
.main-input__buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
@media screen and (max-width: 720px) {
  .main-input__msg {
    font-size: 1rem;
  }
  .main-input__warning {
    text-align: left;
  }
}

.main-index {
  padding: 50px 50px;
  max-width: 1000px;
  width: 90%;
  margin: 30px auto;
  box-shadow: 5px 5px 10px;
  background-color: #fff;
  font-size: 1.1rem;
  text-align: center;
  position: relative;
}
.main-index__msg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 9999;
  padding: 20px;
  background-color: #ffa126;
  border-radius: 30px;
  color: #fff;
  font-size: 1.6rem;
}
.main-index__icon {
  display: inline-block;
  background-color: #ccc;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 5px;
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  background-size: cover;
  border-radius: 50%;
}
.main-index__top-expense {
  border: dotted 5px #000;
  margin: 20px 0px;
  padding: 20px 0;
}
.main-index__top-text1 {
  text-align: center;
  margin-bottom: 20px;
}
.main-index__name {
  font-size: 3.0rem;
  margin: 0 5px;
  color: #00b62d;
}
.main-index__top-text2 {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.main-index__price {
  font-size: 3.0rem;
  margin-right: 5px;
}
.main-index__head {
  text-align: left;
  margin: 20px 0;
}
.main-index__form {
  text-align: center;
  background-color: #eee;
  padding: 20px 10px;
}
.main-index__form-label {
  font-size: 1.4rem;
}
.main-index__form-label:nth-of-type(n+2) {
  margin-top: 10px;
}
.main-index__tabwrap {
  margin: 20px 0;
}
.main-index__tabarea {
  margin: 0 10px;
}
.main-index__tabarea label {
  width: 150px;
  margin: 0 5px;
  display: inline-block;
  padding: 12px 0;
  color: #999;
  background: #087228;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
  transition: ease 0.2s opacity;
}
.main-index__tabarea label:hover {
  opacity: 0.5;
}
.main-index__tab-panel {
  display: none;
}
.main-index__tabarea label.active {
  background: #fff;
  color: #000;
}
.main-index__tab-panel.active {
  display: block;
}
.main-index_piegraph {
  margin: 300px;
}
.main-index__graphs {
  margin: 0 auto;
  max-width: 800px;
}
.main-index__graph {
  background-color: #fffed9;
  margin-bottom: 10px;
}
.main-index__select {
  border: solid 1px #ddd;
  padding: 10px;
  background-color: #fff;
}
.main-index__text {
  border: solid 1px #ddd;
  background-color: #fff;
}
.main-index__button-delete {
  margin: 10px 0 20px 0;
  text-align: right;
}
.main-index__posts {
  margin-top: 30px;
  font-size: 1.0rem;
  text-align: left;
}
.main-index__msg-name {
  color: #00b62d;
  font-weight: bold;
}
@media screen and (max-width: 720px) {
  .main-index {
    padding: 50px 10px;
  }
  .main-index__msg {
    font-size: 1rem;
  }
}

.button {
  background-color: lightgray;
  font-weight: bolder;
  margin: 10px;
  color: #fff;
  white-space: nowrap;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.button--rewrite {
  background-color: #9bdaf8;
  padding: 10px 30px;
  font-size: 1.1rem;
}
.button--register {
  background-color: #2f1313;
  padding: 10px 30px;
  font-size: 1.1rem;
}
.button--try {
  background-color: #00b32d;
  padding: 10px 30px;
  font-size: 1.1rem;
  margin-top: 20px;
}
.button--login {
  background-color: #d8460d;
  padding: 10px 20px;
  font-size: 1.3rem;
}
.button--logout {
  background-color: #ffa126;
  padding: 10px 20px;
  font-size: 1.1rem;
  margin-top: 300px;
}
.button--post {
  background-color: #1b34c4;
  padding: 10px;
  font-size: 1.1rem;
  border-radius: 5px;
}
.button--delete {
  background-color: #7a1a1a;
  padding: 5px;
  border-radius: 5px;
}
.button--delete-user {
  background-color: #d30000;
  font-size: 0.5rem;
  padding: 5px;
}
.button--delete-user2 {
  background-color: white;
  color: #cacaca;
  border: solid 1px #cacaca;
  font-size: 0.8rem;
  padding: 10px 30px;
}
.button--cancel {
  background-color: #188efd;
  color: #fff;
  font-size: 0.8rem;
  padding: 10px 30px;
}
@media screen and (max-width: 767px) {
  .button--logout {
    padding: 5px 10px;
    font-size: 0.8rem;
    margin-top: 300px;
  }
}
.button:hover {
  opacity: 0.5;
}

.g-item__parts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.g-item__box {
  margin: auto;
  width: 15px;
  height: 15px;
  display: inline-block;
}
.g-item__box--all {
  background-color: black;
  display: inline-block;
}
.g-item__box--0 {
  background-color: #fa6b0b;
  display: inline-block;
}
.g-item__box--1 {
  background-color: #048804;
  display: inline-block;
}
.g-item__box--2 {
  background-color: red;
}
.g-item__box--3 {
  background-color: #0502c5;
}
.g-item__box--4 {
  background-color: #df00cc;
}
.g-item__box--5 {
  background-color: #6d6d6d;
}

/*# sourceMappingURL=style.css.map */
